// Mixins in here

.center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parametric-button(@color, @height, @width) {
    background-color: @color;
    height: @height;
    width: @width;
    .center();
}

.mobile-center() {
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
}